<div class="footer">
    <div class="container-fluid">
        <div class="row footer-top-content">
            <div class="col-12 col-sm-9">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <div class="footer-title">
                            <h5>HỖ TRỢ</h5>
                        </div>
                        <div class="support-content">
                            <ul>
                                <li><a href="#">FAQs - Hỏi đáp</a></li>
                                <li><a href="#">Chính sách vận chuyển</a></li>
                                <li><a href="#">Đặt đồng phục</a></li>
                                <li><a href="#">Kiểm tra đơn hàng</a></li>
                                <li><a href="#">Hướng dẫn thanh toán</a></li>
                                <li><a href="#">Chính sách KH thân thiết</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="footer-title">
                            <h5>THƯƠNG HIỆU</h5>
                        </div>
                        <div class="about-content">
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">Với cộng đồng</a></li>
                                <li><a href="#">Hệ thống cửa hàng</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="footer-title">
                            <h5>CÔNG TY CỔ PHẦN P & D Shop</h5>
                        </div>
                        <div class="account-content">
                            <ul>
                                <li><p>Số ĐKKD: 0107474910, ngày cấp: 05/03/2020. Nơi cấp: Sở Kế hoạch và đầu tư TP.HCM</p> </li>
                                <li><p>Địa chỉ liên hệ: Phòng 12A Tòa nhà IUH, Số 12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Thành phố Hồ Chí Minh</p> </li>
                                <li><p>Điện thoại: +8499 - 9999.9999</p> </li>
                                <li><p>Fax: +8499 - 9999.9999</p> </li>
                                <li><p>Email: admin@clothes.com</p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <div class="row">
                    <div class="col-12 footer-policy">
                        <p>Copyright © 2020 Phat Duong.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>