<div class="header">
    <div class="container-fluid">
        <div class="container-fluid padding-60">
            <div class="row no-gutters menu-content">
                <div class="col-lg-2 col-6 logo">
                    <a href="/"><img src="/images/Logo.png" alt="Logo"></a>
                </div>
                <div class="col-lg-8 col-12 menu-top">
                    <ul>
                        <li><a href="/product?sort=id" class="menu-before">Tất cả</a></li>
                        <li><a href="/product?type=tshirt&sort=id" class="menu-before">Áo phông</a></li>
                        <li><a href="/product?type=shirt&sort=id" class="menu-before">Áo sơmi</a></li>
                        <li><a href="/product?type=short&sort=id" class="menu-before">Quần Short</a></li>
                        <li><a href="/product?type=dress&sort=id" class="menu-before">Váy</a></li>
                        <li><a href="/product?type=jeans&sort=id" class="menu-before">Quần Jeans</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 tool-right">
                    <ul>
                        <li><a href="/account"><i class="far fa-user"></i></a></li>
                        <li class="cart"><a href="/cart/show" data-cart=""><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>